javascript:
    window.onload = function(){
          setInterval(function(){
            console.log('!!!!');
            $('#time_div').load("/devices");
      }, 20000);
    };
#time_div
  .row
    = render @devices
